body {
    font-family: 'Avenir Next', 'Segoe UI', Geneva, Verdana, sans-serif;
    margin: 0 auto;
    padding: 2rem;
    max-width: 96rem;
    box-sizing: border-box;
    background: #efefef;
}

header {
    background-color: #334350;
    padding: 2rem;
    color: white;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
header h1 {
    margin: 0 0;
}
header h3 {
    margin: 0 0;
    color: #ddd;
    font-weight: normal;
}

main {
    padding: 2.5rem;
    color: #111111;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    background: no-repeat center url('spd.png');
    height: 40vh;
    border-radius: 1rem;
}